body {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .container {
    background: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  
  .session-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .session-item:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  
  .delete-button {
    background: rgba(255, 69, 58, 0.7);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .delete-button:hover {
    background: rgba(255, 69, 58, 0.9);
  }
  